<head>
  <link rel="stylesheet" href="/main.css">
</head>
<form action="/new" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <label for="price">Price: </label>
    <input type="number" step="0.01" name="price">
    <label for="stock">Stock: </label>
    <input type="number" name="stock">
    <label for="type">Instrument Type: </label>
    <input type="text" name="type">
    <input type="submit" value="submit">
</form>

<a href="/">Return</a>